/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

main {
  display:inline-block;
  padding: 10px 0px;
  margin: 10px;
}

.text{
  bottom: 0;
  position: absolute;
}

.div-imagen {
  position:relative;
  color: antiquewhite;
}

.div-imagen > .datosPrincipal {
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.2;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.titulo {
  top: 0;
}



